h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; font-family:Arial, Helvetica, sans-serif;}
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; font-family:Arial, Helvetica, sans-serif;}
